.desktop {
  background-color: #0a0000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #0a0000;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.desktop .overlap {
  position: absolute;
  width: 1359px;
  height: 808px;
  top: 216px;
  left: 0;
}

.desktop .overlap-group {
  position: absolute;
  width: 1359px;
  height: 808px;
  top: 0;
  left: 0;
}

.desktop .rectangle {
  position: absolute;
  width: 269px;
  height: 808px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
}

.desktop .text-wrapper {
  position: absolute;
  width: 1029px;
  top: 295px;
  left: 330px;
  font-family: "Kanit-Regular", Helvetica;
  font-weight: 400;
  color: #1c30de;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-2 {
  position: absolute;
  width: 706px;
  top: 644px;
  left: 502px;
  font-family: "Kanit-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  position: absolute;
  width: 245px;
  top: 79px;
  left: 57px;
  font-family: "Kanit-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .image {
  width: 57px;
  height: 84px;
  top: 65px;
  mix-blend-mode: darken;
  position: absolute;
  left: 0;
  object-fit: cover;
}

.desktop .text-wrapper-4 {
  position: absolute;
  width: 228px;
  top: 212px;
  left: 36px;
  font-family: "Kanit-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .img {
  width: 74px;
  height: 60px;
  top: 205px;
  mix-blend-mode: darken;
  position: absolute;
  left: 0;
  object-fit: cover;
}

.desktop .text-wrapper-5 {
  position: absolute;
  width: 248px;
  top: 350px;
  left: 83px;
  font-family: "Kanit-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .image-2 {
  width: 66px;
  height: 70px;
  top: 334px;
  mix-blend-mode: darken;
  position: absolute;
  left: 0;
  object-fit: cover;
}

.desktop .text-wrapper-6 {
  position: absolute;
  width: 206px;
  top: 468px;
  left: 57px;
  font-family: "Kanit-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 31px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .image-3 {
  position: absolute;
  width: 74px;
  height: 81px;
  top: 451px;
  left: 0;
  mix-blend-mode: darken;
  object-fit: cover;
}

.desktop .text-wrapper-7 {
  position: absolute;
  width: 1042px;
  top: 72px;
  left: 317px;
  font-family: "Kanit-Regular", Helvetica;
  font-weight: 400;
  color: #1c30de;
  font-size: 70px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .image-4 {
  width: 269px;
  height: 216px;
  top: 0;
  position: absolute;
  left: 0;
  object-fit: cover;
}

.desktop .overlap-2 {
  position: absolute;
  width: 1171px;
  height: 216px;
  top: 0;
  left: 269px;
  background-color: #d9d9d9;
}

.desktop .overlap-3 {
  position: absolute;
  width: 149px;
  height: 105px;
  top: 62px;
  left: 33px;
}

.desktop .text-wrapper-8 {
  position: absolute;
  width: 134px;
  top: 0;
  left: 15px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-2 {
  position: absolute;
  width: 149px;
  height: 20px;
  top: 85px;
  left: 0;
  background-color: #1c30de;
}

.desktop .rectangle-3 {
  position: absolute;
  width: 272px;
  height: 20px;
  top: 147px;
  left: 858px;
  background-color: #33d9bb;
}

.desktop .rectangle-4 {
  position: absolute;
  width: 198px;
  height: 20px;
  top: 147px;
  left: 519px;
  background-color: #33d9bb;
}

.desktop .rectangle-5 {
  position: absolute;
  width: 176px;
  height: 20px;
  top: 147px;
  left: 255px;
  background-color: #33d9bb;
}

.desktop .text-wrapper-9 {
  position: absolute;
  width: 184px;
  top: 70px;
  left: 247px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-10 {
  position: absolute;
  width: 240px;
  top: 70px;
  left: 498px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-11 {
  position: absolute;
  width: 372px;
  top: 70px;
  left: 797px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
}
