#tillbaka {
    color: #2D1E44;
    font-size: 25px;
    border-radius: 15px;
    background-color: #efeae7;
    padding: 5px;
    outline: auto;
}

body {
    background-color: #9dc11b;
}
