#tillbaka {
    color: #2D1E44;
    font-size: 25px;
    border-radius: 15px;
    background-color: #967C69;
    padding: 5px;
    outline: auto;
}

body {
    background-color: #2D1E44;
}

p {
    color:#967C69;
   
  
    font-size: 30px;
} 

table, tr, td{
     border: 1px solid rgb(239, 239, 243);
    border-collapse: collapse;
}
